/* Estilos gerais */
body {
  background-color: #7CBBBD;
}

.container {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: 20px auto;
  padding: 20px 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

@media screen and (min-width: 769px) {
  .container {
      flex-direction: row;
      width: 50%;
      height: 40%;
      flex-wrap: wrap;
      justify-content: space-around;
  }
}

/* Estilos para o header */
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  border-radius: 10px;
}

.logo {
  margin: 0 auto;
}

.logo img {
  width: 200px;
}

/* Estilos para o main */
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

/*Estilo para content*/

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    border-radius: 10px;
}

/* Estilos para titulo */
  .container .title {
    background-color: #333;
    color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    width: 100%;
    border-radius: 0;
    border: 12px;
    padding: 15px 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  @media screen and (min-width: 769px) {
    .container .title{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 15px 55px;
    }
  }

/* Estilos para botões */


.menu button{
 /*Design*/
    background-color: #006400;
    color: white;
    font: 16px Arial, Helvetica, sans-serif;
    border: none;
    cursor: pointer;

    /*Positioning*/
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    padding: 10px 10px;
    border-radius: 12px;
}

.menu button:hover{
  background-color: #0056b3;
}

.menu button:active{
  background-color: #003366;
}

.menu button:disabled{
  background-color: #ccc;
  cursor: not-allowed;
}

.edit_button {
  background-color: #008000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit_button:hover{
  background-color: #660e00;
  
}

.delete_button {
  background-color: #ff0000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



/* Estilos para campos de entrada */
input[type="text"],
input[type="password"],input[type="number"],
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-shadow: #003366;
  font-size: 16px;
}

.fuel_label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

select option {
  background-color: #f2f2f2;
  color: #333;
}

select option:hover {
  background-color: #e6e6e6;
}



/* Estilos para botões de entrada */
.enter_button {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px 25px;
  background-color: #008000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #003366;
  transition: background-color 0.3s ease;
}

.enter_button:hover {
  background-color: #0056b3;
}

.enter_button:active {
  background-color: #003366;
}

.enter_button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilos para botões de saída */
.out_button {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding: 15px 15px;
  background-color: #eb2a04;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #003366;
  transition: background-color 0.3s ease;
}

.out_button:hover {
  background-color: #660e00;
}

.out_button:active {
  background-color: #003366;
}

.out_button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/*Botoes de envio*/
.submit_button {
  margin-top: 10px;
  font-size: 16px;
  padding: 20px;
  border-radius: 15px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: #003366
}

.submit_button:hover {
  background-color: #0056b3;
}

.submit_button:active {
  background-color: #003366;
}




/* Estilos para tabelas */
.content table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.content table th,
.content table td {
  padding: 10px 5px;
  text-align: center;
  border: 1px solid #ddd;
}

.content table th {
  background-color: #f2f2f2;
}

.content table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.content table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Estilos para o menu */
.menu {
  background-color: #333;
  display: flex;
  width: 100%;
  padding: 5px 10px 5px 10px;
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: #003366;
}

@media screen and (min-width: 769px) {
  .container {
      flex-direction: row;
      flex-wrap: wrap;
      padding: 5px;
      width: 80%;
  }
}

.menu-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-list li {
  width: 100%;
  margin-right: 10px;
}

.menu-list a {
  text-decoration: none;
  color: #000;
}

/* Todos os direitos reservados*/
.direitos {
  margin-top: 20px; /* Espaçamento acima dos direitos reservados */
  text-align: center; /* Centraliza o texto */
  font-size: 12px; /* Tamanho da fonte menor para os direitos reservados */
  color: #777; /* Cor de texto mais clara */
}



/* Estilos para o footer */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(18, 18, 18, 0.8);
  backdrop-filter: blur(9px);
}

.footer_out_button{
  background-color: #eb2a04;
  color: #fff;
  width: 20%;;
  border-radius: 15px;
  border: none;
  box-shadow: #eb2a04;
  padding: 10px;
}

.footer_out_button:hover{
  background-color: #660e00;
}

.footer_return_button {
  background-color: #007bff;
  color: #F5F5F5;
  width: 20%;;
  border-radius: 15px;
  border: none;
  box-shadow: #003366;
  padding: 10px;
}


/*-------|Pag consulta cheklist|----------*/




#formulario {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
}



/* Estilos para os campos de entrada */
.campo {
  margin-bottom: 15px;
}

.title_cheklist{
  background-color: #003366;
  color: #fff  ;
  padding: 20px;
  border-radius: 15px;
}

.campo-manutenção {
  width: 80%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: start;
}

label {
  display: block;
  margin-bottom: 5px;
}

.item{
    display: flex;
    padding: 12px;
}

/*
label[for="oleoMotor"],
label[for="filtroOleo"],
label[for="filtroAr"],
label[for="pneus"] {
  display: inline-block;
  margin-right: 10px;
}

*/


