:root {
  --bg-color: #7CBBBD;
  --container-bg-color: #F5F5F5;
  --container-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --container-radius: 12px;
  --font-family: Arial, sans-serif;
  --font-size-base: 16px;
  --font-color: #333;
  --title-bg-color: #333;
  --title-color: #f1f1f1;
  --title-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  --title-font-size: 24px;
  --title-padding: 15px 10px;
  --border-color: #ddd;
  --border-radius: 5px;
  --input-border: 1px solid #ccc;
  --input-radius: 12px;
  --input-shadow: #003366;
  --button-bg-color: #006400;
  --button-hover-bg-color: #0056b3;
  --button-active-bg-color: #003366;
  --button-disabled-bg-color: #ccc;
  --button-text-color: white;
  --edit-button-bg-color: #008000;
  --delete-button-bg-color: #ff0000;
  --enter-button-bg-color: #008000;
  --out-button-bg-color: #eb2a04;
  --footer-bg-color: rgba(18, 18, 18, 0.8);
  --footer-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  --menu-bg-color: #333;
  --menu-shadow: #003366;
  --select-bg-color: #fff;
  --select-option-bg-color: #f2f2f2;
  --select-option-hover-bg-color: #e6e6e6;
  --direitos-font-size: 12px;
  --direitos-font-color: #777;
}

body {
  background-color: var(--bg-color);
}

.container {
  background-color: var(--container-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: 20px auto;
  padding: 20px 10px;
  border-radius: var(--container-radius);
  box-shadow: var(--container-shadow);
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  color: var(--font-color);
}

@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;
    width: 50%;
    height: 40%;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/*-------|Componentes|----------*/

/*-- Logo --*/
.logo {
  margin: 0 auto;
}

.logo img {
  width: 200px;
}

/*-- Títulos --*/
.title {
  background-color: var(--title-bg-color);
  color: var(--title-color);
  box-shadow: var(--container-shadow);
  font-family: var(--font-family);
  width: 100%;
  border-radius: 0;
  border: 12px;
  padding: var(--title-padding);
  font-size: var(--title-font-size);
  font-weight: bold;
  text-align: center;
  text-shadow: var(--title-shadow);
}

@media screen and (min-width: 769px) {
  .container .title {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 55px;
  }
}

/*-- Tabelas --*/
table {
  width: 100%;
  margin-bottom: 10px;
  border-collapse: collapse;
}

table th,
table td {
  padding: 10px 5px;
  text-align: center;
  border: 1px solid var(--border-color);
}

table th {
  background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

/*-- Forms --*/
#formulario {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
}

.campo {
  margin-bottom: 15px;
}

.campo-manutenção {
  width: 80%;
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  align-items: start;
}

label {
  display: block;
  margin-bottom: 5px;
}

.item {
  display: flex;
  padding: 12px;
}

.table {
  display: flex;
  height: 50%;
  justify-content: center;
  size: 30%;
  flex-direction: column;
  align-items: center;
}

.fuel_label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/*-------|Seções|----------*/

/*-- Header --*/
.header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  border-radius: 10px;
}

/*-- Main --*/
.main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

/*-- Content --*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  padding: 20px;
  border-radius: 10px;
}

/*-- Footer --*/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px 10px;
  box-shadow: var(--footer-shadow);
  background-color: var(--footer-bg-color);
  backdrop-filter: blur(9px);
}

/*-------|Elementos de UI|----------*/

/*-- Botões --*/
button {
  /* Design */
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  font: var(--font-size-base) var(--font-family);
  border: none;
  cursor: pointer;

  /* Positioning */
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  padding: 10px 10px;
  border-radius: 12px;
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

button:active {
  background-color: var(--button-active-bg-color);
}

button:disabled {
  background-color: var(--button-disabled-bg-color);
  cursor: not-allowed;
}

.edit_button {
  background-color: var(--edit-button-bg-color);
  color: var(--button-text-color);
  padding: 5px 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.edit_button:hover {
  background-color: #660e00;
}

.delete_button {
  background-color: var(--delete-button-bg-color);
  color: var(--button-text-color);
  padding: 5px 10px;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.enter_button {
  margin-top: 10px;
  font-size: var(--font-size-base);
  font-weight: bold;
  text-align: center;
  padding: 15px 25px;
  background-color: var(--enter-button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #003366;
  transition: background-color 0.3s ease;
}

.enter_button:hover {
  background-color: var(--button-hover-bg-color);
}

.enter_button:active {
  background-color: var(--button-active-bg-color);
}

.enter_button:disabled {
  background-color: var(--button-disabled-bg-color);
  cursor: not-allowed;
}

.out_button {
  margin-top: 10px;
  font-size: var(--font-size-base);
  font-weight: bold;
  text-align: center;
  padding: 15px 15px;
  background-color: var(--out-button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: #003366;
  transition: background-color 0.3s ease;
}

.out_button:hover {
  background-color: #660e00;
}

.out_button:active {
  background-color: var(--button-active-bg-color);
}

.out_button:disabled {
  background-color: var(--button-disabled-bg-color);
  cursor: not-allowed;
}

.submit_button {
  margin-top: 10px;
  font-size: var(--font-size-base);
  padding: 20px;
  border-radius: 15px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  box-shadow: #003366;
}

.submit_button:hover {
  background-color: var(--button-hover-bg-color);
}

.submit_button:active {
  background-color: var(--button-active-bg-color);
}

.footer_out_button {
  background-color: var(--out-button-bg-color);
  color: var(--button-text-color);
  width: 20%;
  border-radius: 15px;
  border: none;
  box-shadow: #eb2a04;
  padding: 10px;
}

.footer_out_button:hover {
  background-color: #660e00;
}

.footer_return_button {
  background-color: #007bff;
  color: var(--container-bg-color);
  width: 20%;
  border-radius: 15px;
  border: none;
  box-shadow: var(--menu-shadow);
  padding: 10px;
}

/*-- Inputs --*/
input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: var(--input-border);
  border-radius: var(--input-radius);
  box-shadow: var(--input-shadow);
  font-size: var(--font-size-base);
}

/*-- Selects --*/
select {
  width: 100%;
  padding: 12px 20px;
  border: var(--input-border);
  border-radius: var(--border-radius);
  font-size: var(--font-size-base);
  background-color: var(--select-bg-color);
}

select option {
  background-color: var(--select-option-bg-color);
  color: var(--font-color);
}

select option:hover {
  background-color: var(--select-option-hover-bg-color);
}

/*-- Menu --*/
.menu {
  background-color: var(--menu-bg-color);
  display: flex;
  width: 30%;
  height: 40%;
  padding: 5px 10px 5px 10px;
  flex-direction: column;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: var(--menu-shadow);
}

@media screen and (min-width: 769px) {
  .container {
    display: flex;
    flex-direction: row;
    align-items: start;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    width: 80%;
  }

  .menu {
    padding: 1%;
    width: 25%;
  }
}

.menu-list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-list li {
  width: 100%;
  margin-right: 10px;
}

.menu-list a {
  text-decoration: none;
  color: var(--font-color);
}

/*-------|Utilitários|----------*/

.title_cheklist {
  background-color: #003366;
  color: var(--button-text-color);
  padding: 20px;
  border-radius: 15px;
}

.cheklist_name {
  display: inline-block;
  margin-right: 10px;
}

.cheklist_checkbox {
  display: inline-block;
  margin-right: 10px;
}

/* Todos os direitos reservados */
.direitos {
  margin-top: 20px; /* Espaçamento acima dos direitos reservados */
  text-align: center; /* Centraliza o texto */
  font-size: var(--direitos-font-size); /* Tamanho da fonte menor para os direitos reservados */
  color: var(--direitos-font-color); /* Cor de texto mais clara */
}

table {
  width: 180%; /* A tabela ocupa 100% da largura do contêiner pai */
  table-layout: fixed; /* Distribui espaço igualmente entre as colunas */
  border-collapse: collapse; /* Remove o espaço entre as bordas das células */
}

td, th {
  word-wrap: break-word; /* Permite que o conteúdo das células quebre para a próxima linha */
  overflow-wrap: break-word; /* Suporte para navegadores mais antigos */
  padding: 10px; /* Espaçamento entre o conteúdo e a borda da célula */
  border: 1px solid var(--border-color); /* Borda da célula */
  text-align: left; /* Alinhamento do texto */
}

@media screen and (max-width: 768px) {
  .menu_on_page {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .menu {
    padding: 12px 5px;
  }

  .menu_on_page {
    padding: 0% 8% 0% 0%;
  }

  .menu-list-on-page {
    background-color: var(--menu-bg-color);
    border-radius: 10px;
    padding: 2%;
  }

  .container {
    flex-direction: row; /* Makes elements row-based on large screens */
    align-items: center; /* Aligns content vertically within the container */
  }

  .main {
    padding: 0%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .table {
    padding: 40px 5px;
  }

  table {
    width: 170%; /* A tabela ocupa 100% da largura do contêiner pai */
    table-layout: fixed; /* Distribui espaço igualmente entre as colunas */
    border-collapse: none; /* Remove o espaço entre as bordas das células */
  }
}

.relatorios {
  display: flex;
  border: #000;
  border-width: 2px;
  flex-direction: column;
  padding: 20px 0px;
  justify-content: center;
  align-items: center;
  width: 80%;
  table-layout: fixed; /* Distribui espaço igualmente entre as colunas */
  border-collapse: collapse; /* Remove o espaço entre as bordas das células */
}

.filtros {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campo {
  padding: 20px;
}

h2 {
  display: flex;
  text-align: center;
  font-size: 30px;
  color: #3;
  padding: 10px;
  border-radius: 15px;
  border: #000;
  box-shadow: #003366;
}
